{{ define "main" }}
  <div class="px-4 pt-4 mx-auto lg:container">
    <h1 class="text-4xl text-center font-semibold ">Sam Robbins</h1>
    <div class="flex justify-evenly">
      <a
        href="mailto:{{ .Site.Data.cv.links.email }}"
        class="text-gray-700 underline text-sm"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block h-4"
        >
          <path
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path>
          <polyline points="22,6 12,13 2,6"></polyline></svg
        >{{ .Site.Data.cv.links.email }}</a
      >
      <a
        href="https://{{ .Site.Data.cv.links.website }}"
        class="text-gray-700 underline text-sm"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="inline-block h-4 pr-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
          /></svg
        >{{ .Site.Data.cv.links.website }}</a
      >
      <a
        href="https://github.com/{{ .Site.Data.cv.links.website }}"
        class="text-gray-700 underline text-sm"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block h-4"
        >
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          ></path></svg
        >{{ .Site.Data.cv.links.github }}</a
      >
      <a
        href="https://linkedin.com/in/{{ .Site.Data.cv.links.website }}"
        class="text-gray-700 underline text-sm"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block h-4"
        >
          <path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle></svg
        >{{ .Site.Data.cv.links.linkedin }}</a
      >
    </div>
    <!-- Personal Profile -->
    <section class="pt-4">
      <h2 class="text-xl pb-1">Personal Profile</h2>
      <hr class="py-2" />
      <ul class="divide-y-2 divide-transparent">
        {{ range .Site.Data.cv.profile.item }}
          <li><b>{{ .point }}</b> - {{ .description }}</li>
        {{ end }}
      </ul>
    </section>
    <!-- Skills -->
    <section class="pt-4">
      <h2 class="text-xl pb-1">Skills</h2>
      <hr class="py-2" />
      <table class="table-auto">
        <tbody>
          {{ range .Site.Data.cv.skills.item }}
            <tr>
              <td class="px-4 py-2 font-semibold">{{ .title }}</td>
              <td class="px-4 py-2">{{ delimit .items ", " }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </section>

    <!-- Qualifications -->
    <section class="pt-4">
      <h2 class="text-xl pb-1">Qualifications</h2>
      <hr class="py-2" />
      <div class="divide-y-4 divide-transparent">
        {{ range .Site.Data.cv.qualifications.item }}
          <div>
            <span class="font-semibold">{{ .name }}</span>
            <span class="float-right text-gray-800 italic">{{ .date }}</span
            >{{ if .organisation }}
              <br /><span class="text-gray-800"
                >{{ .organisation }}</span
              >{{ end }}

          </div>
        {{ end }}
      </div>
    </section>
    <!-- Experience -->
    <section class="pt-4">
      <h2 class="text-xl pb-1">Experience</h2>
      <hr class="py-2" />
      <div class="divide-y-4 divide-transparent">
        {{ range .Site.Data.cv.experience.item }}
          <div>
            <span class="font-semibold">{{ .position }}</span>
            <span class="float-right text-gray-800 italic">{{ .date }}</span
            >{{ if .description }}
              <br /><span class="text-gray-800"
                >{{ .description }}</span
              >{{ end }}

          </div>
        {{ end }}
      </div>
    </section>
    <!-- Personal and Group Projects -->
    <section class="pt-4">
      <h2 class="text-xl pb-1">Personal and Group Projects</h2>
      <hr class="py-2" />
      <div class="divide-y-4 divide-transparent">
        {{ range .Site.Data.cv.projects.item }}
          <div>
            <span class="font-semibold">{{ .name }}</span>
            <span class="float-right text-gray-800 italic">{{ .date }}</span
            >{{ if .description }}
              <br /><span class="text-gray-800"
                >{{ .description }}</span
              >{{ end }}

          </div>
        {{ end }}
      </div>
    </section>
  </div>
{{ end }}
