{{ define "main" }}
  <script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.6.0/dist/alpine.min.js"
    defer
  ></script>
  <section class="pt-20">
    <h1 class="text-center text-4xl font-semibold">Portfolio</h1>
  </section>

  <div x-data="{ tab: 'all' }">
    <div
      class="flex justify-center flex-wrap text-gray-500 py-4 px-2"
      style="--column-gap: 2rem; --row-gap: 2rem"
    >
      <button
        :class="{ 'text-teal-700': tab === 'all' }"
        @click="tab = 'all'"
        class="font-semibold"
      >
        All
      </button>
      {{ range .Site.Data.portfolio.filter }}
        <button
          :class="{ 'text-teal-700': tab === '{{ .value }}' }"
          class="font-semibold"
          @click="tab = '{{ .value }}'"
        >
          {{ .label }}
        </button>
      {{ end }}
    </div>
    <div
      class="flex flex-wrap container mx-auto justify-center py-4 px-4"
      style="--row-gap: 2rem; --column-gap:2rem"
    >
      {{ range .Data.Pages }}
        <a
          href="{{ .Permalink | relURL }}"
          class="w-full sm:w-2/5 lg:w-1/5 border border-gray-300 rounded hover:shadow-lg"
          x-show="[{{ range .Params.categories }}'{{ . | urlize }}',{{ end }} 'all'].includes(tab)"
        >
          <img
            class="h-32 w-full object-contain p-4"
            src="{{ .Params.Image }}"
          />
          <hr class="my-4" />
          <div class="px-4">
            <h2 class="font-semibold h-16">
              {{ .Title }}
            </h2>
            <p class="text-gray-600 pb-4">{{ .Params.Description }}</p>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
