{{ define "main" }}
  <section class="pt-20">
    <h1 class="text-center text-4xl font-semibold">Porfolio</h1>
  </section>

  <div class="flex flex-wrap container gap-8 mx-auto justify-center py-4">
    {{ range .Data.Pages }}
      <div class="w-1/5 border border-gray-300 rounded">
        <img class="h-32 w-full object-contain p-4" src="{{ .Params.Image }}" />
        <hr class="my-4" />
        <div class="px-4">
          <h2 class="font-semibold h-16">
            {{ .Title }}
          </h2>
          <p class="text-gray-600 pb-4">{{ .Params.Description }}</p>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
