{{ define "main" }}
  <section class="pt-20 text-center text-4xl font-semibold pb-10">
    About
  </section>

  {{ if .Site.Data.about.experience.enable }}
    <section>
      <h2 class="text-center text-3xl">Experience</h2>
      <div class="flex flex-wrap justify-center gap-6 pt-6">
        {{ range .Site.Data.about.experience.item }}
          <div class="border border-gray-300 w-64 rounded">
            <img
              class="h-40 w-40 object-contain mx-auto my-6"
              src="{{ .logo }}"
            />
            <div class="pl-4 pb-4">
              <h3 class="text-xl font-semibold">{{ .title }}</h3>
              <p class="text-gray-600">{{ .company }}</p>
              <p class="text-gray-600 pt-4">{{ .duration }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}
